body{
    margin-top: 4.5rem;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
font-family: Poppins;

}

p{
    font-family: Roboto;
}



.navbar-expand-lg {
    background: #fff !important;
    border: 0;
    font-family: Poppins;
}

.navbar-brand{
    font-size: 2rem;
    color:#000;
    font-weight: bold;
    font-family: "Whisper", cursive;
}

/* .showcase-left img{
    height:34.75rem;
} */




#showcase h1{
    font-size: 3rem;
    margin-bottom: 1.25rem;
}


#showcase .showcase-right{
    margin-top: 5.5rem;
    /* margin-left: 4.2rem; */
}


#testimonial{
    background:#f1f1f1;
    padding:50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}

#testimonial p{
    font-size: 32px;
    font-family: 'Josefin Sans';
    color: #000;
}

#testimonial p.customer{
    font-size: 20px;
    color: #666;
}


#info1 .info-right{
    margin-top: 90px;
}

#info2{
    margin-top: 70px;
    margin-bottom: 60px;
}



#contact{
    background: url(../img/img1.jpg);
    padding: 40px;
    color: #000;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;
    
}

#service{
    margin-top: 70px;
    margin-bottom: 60px;

}

#service img{
    height: 20rem;
}

#service .card{
    margin-bottom: 1.5rem;
}

#service .card-title-link{
    text-decoration: none;
    font-family: Poppins;
    color:#000
}

#service p.card-text{
    font-family: Roboto;
    /* text-align: justify; */

}

#service .info-right{
    margin-top: 90px;
}



footer{
    padding: 40px;
}



.form-container{
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 1rem;
}

.form-container h4{
    margin-bottom: 2rem;
}


.form-control{
    padding: 0.8rem 0.7rem;

}
form{
    background-color: #fff;
    border-radius: 2rem;
}

.form-group{
    margin:1.5rem;
  
}

.submit-button{
   
    font-size: 2rem;
    background: #DDDDDD;
    border: 0;
  
}