
<section id="info1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">

                <div class="info-left">
                    <img src="../static/img/img10.jpeg" alt="">
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="info-right">
                    <h2>Meet Our Expert Team: Driving Innovation at Borkounou</h2>
                    <p>
                        At Borkounou, our team comprises seasoned professionals at the forefront of technology, including software engineers, AI engineers, and data scientists. Each member brings a wealth of expertise, with a minimum of five years of hands-on experience in their respective fields. Their collective knowledge and dedication drive our commitment to excellence, ensuring that we deliver innovative and effective solutions tailored to meet our clients' diverse needs. With a passion for continuous learning and staying ahead of industry trends, our team is equipped to tackle even the most complex challenges, providing our clients with confidence and peace of mind as we navigate the ever-evolving digital landscape together.</p>
                    <br>
                    <a href="" class="btn btn-light btn-lg"> Read more</a>
                </div>
                
            </div>
        </div>
    </div>
</section>


<hr>

<section id="info2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">

                <div class="info-left">
                    <h2> A Journey with Cherif Hassan</h2>
                    <p>Meet Nousradine Cherif Hassan, a software and AI engineer driven by a passion for technology and creativity. From his earliest days, Nousradine's fascination with technology ignited a journey of exploration and innovation. Specializing in software development, he thrives on crafting elegant code and pioneering solutions that push the boundaries of what's possible. With expertise in Python, C++, and Java, Nousradine excels in software engineering, seamlessly blending aesthetics and functionality in front-end development using HTML, CSS, and JavaScript. Fascinated by machine learning and NLP, he leverages these technologies to enhance user experiences. Proficient in frameworks like Django and Flask for back-end development, Nousradine is committed to delivering reliable solutions that underpin seamless software ecosystems.</p>
                    
                  
                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="info-right">
                    <img src="../static/img/cherif.jpeg" class="float-end imgshadow rounded-circle" alt="">
                 
                </div>
                
            </div>
        </div>
    </div>
</section>
