<div class="wow slideInUp" data-wow-delay="0.1s">
    <div class="section-title section-title-sm position-relative pb-3 mb-4">
        <h3 class="mb-0">Annonce Importante : Processus de Recrutement chez Mahrasoft Innovations</h3>
    </div>
    <div class="bg-light text-center" style="padding: 30px;">
        <p style="text-align: justify;">Cher(e)s candidat(e)s,</p>
        <p style="text-align: justify;">Nous sommes heureux de vous annoncer que Mahrasoft Innovations lance un processus de recrutement pour diverses positions dans le secteur IT. Nous recherchons des talents dynamiques, passionnés par la technologie et prêts à contribuer à notre mission de transformation numérique au Tchad.</p>
        <p style="text-align: justify;">Voici les différentes phases du processus de recrutement que vous devez suivre :</p>
        <ul style="text-align: justify;">
            <li><strong>Dépôt de candidature:</strong> Soumettez votre CV à jour et une lettre de motivation par email ou deposer directement au bureau. Assurez-vous d'indiquer le poste pour lequel vous postulez.</li>
            <li><strong>Sélection des candidatures:</strong> Nos recruteurs analyseront chaque candidature en fonction des compétences et qualifications requises pour le poste. Les candidats retenus seront invités à participer à la prochaine étape.</li>
            <li><strong>Entretien téléphonique ou au bureau: </strong> Un premier entretien est organisé pour évaluer votre intérêt, votre compréhension du poste, et discuter de vos attentes. Cela permet également d’évaluer vos compétences générales et techniques.</li>
            <li><strong>Test technique:</strong> Les candidats qualifiés passent ensuite un test technique pour évaluer leurs compétences spécifiques (programmation, développement, sécurité informatique, etc.), en fonction du poste visé.</li>
            <li><strong>Entretien technique approfondi:</strong> Si le test est concluant, vous serez invité à un entretien technique avec un expert de Mahrasoft Innovations pour discuter en détail de vos compétences et de votre expérience sur des projets similaires.</li>
            <li><strong>Entretien avec les Ressources Humaines:</strong>Cet entretien final vise à évaluer votre adéquation avec les valeurs et la culture de notre entreprise. Nous discuterons également de vos attentes salariales et des conditions de travail.</li>
            <li><strong>Décision finale et offre:</strong>Après évaluation de toutes les étapes, une décision sera prise. Les candidats retenus recevront une offre officielle avec les détails de leur contrat. Ceux qui ne sont pas sélectionnés seront informés par email.</li>
        </ul>
        <!-- <a href="" class="btn btn-primary py-2 px-4">LIRE LA SUITE</a> -->
    </div>
</div>