
{% extends "base.html" %}

{%block carousel%} 

<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Clients</h1>
            <a href="" class="h5 text-white">Accueil</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Clients</a>
        </div>
    </div>
</div>
{%endblock%}
   

{%block content%} 
    
    <!-- Features Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nos clients</h5>
                <h1 class="mb-0">Comment Mahrasoft Innovations Aide Ses Clients</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-cogs text-white"></i>
                            </div>
                            <h4>Solutions IT sur Mesure</h4>
                            <p class="mb-0">Nous développons des logiciels et des applications personnalisés qui répondent aux besoins spécifiques de chaque client, garantissant des solutions optimisées et efficaces.</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-shield-alt text-white"></i>
                            </div>
                            <h4>Protection Avancée des Données</h4>
                            <p class="mb-0">Grâce à nos services de cybersécurité, nous aidons nos clients à protéger leurs données sensibles et à sécuriser leurs infrastructures contre les cybermenaces.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="/static/img/feature.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-chart-line text-white"></i>
                            </div>
                            <h4>Optimisation de la Prise de Décision avec les Données</h4>
                            <p class="mb-0">Nous analysons et interprétons les données pour offrir à nos clients des insights qui améliorent leur processus décisionnel et renforcent leur compétitivité.</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-headset text-white"></i>
                            </div>
                            <h4>Support Technique Fiable</h4>
                            <p class="mb-0">Nous assurons un support technique et une maintenance rapide, afin de minimiser les temps d’arrêt et de garantir la continuité des opérations de nos clients.</p>
                        </div>
                    </div>
                </div>
            </div>


          <!-- Second sample -->
           <br>

          <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-lightbulb text-white"></i>
                        </div>
                        <h4>Accompagnement Stratégique</h4>
                        <p class="mb-0">Nous conseillons nos clients dans leur transformation numérique, en leur fournissant les meilleures pratiques et technologies pour atteindre leurs objectifs de croissance.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-graduation-cap text-white"></i>
                        </div>
                        <h4>Formation Continue pour le Personnel</h4>
                        <p class="mb-0">Nous offrons des formations personnalisées en IT pour renforcer les compétences des équipes de nos clients, les aidant à s’adapter aux nouvelles technologies et à améliorer leur performance.</p>
        
                    </div>

                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-microchip text-white"></i>
                        </div>
                        <h4>Accès aux Technologies Modernes</h4>
                        <p class="mb-0">Nous permettons à nos clients d’adopter des technologies récentes et performantes pour moderniser leurs infrastructures et rester compétitifs sur le marché local et international.</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 200px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="/static/img/ca10.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-tachometer-alt text-white"></i>
                        </div>
                        <h4>Amélioration de la Productivité</h4>
                        <p class="mb-0">En automatisant les processus et en optimisant les systèmes, nous aidons nos clients à accroître leur productivité et à réduire les coûts opérationnels.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-handshake text-white"></i>
                        </div>
                        <h4>Partenariat à Long Terme</h4>
                        <p class="mb-0">Nous travaillons avec nos clients en tant que partenaires de confiance, les accompagnant à chaque étape de leur croissance, avec un soutien technique et stratégique continu.</p>
                        
                    </div>


                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                  
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-leaf text-white"></i>
                        </div>
                        <h4>Solutions Innovantes et Durables</h4>
                        <p class="mb-0">Nous intégrons des technologies modernes et des approches durables pour aider nos clients à rester à la pointe de l'innovation, tout en respectant les normes environnementales.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

            
        </div>
    </div>
    <!-- Features Start -->
    {%endblock%}