{% extends "base.html" %}

{%block carousel%} 
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Nos offres d'emploi</h1>
            <a href="" class="h5 text-white">Accueil</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">offre</a>
        </div>
    </div>
</div>
{%endblock%}

{%block content%} 
   <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">

                <!-- Blog list Start -->
                <div class="col-lg-12">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h1 class="mb-0"> Rechercher une offre Mahrasoft Innovations</h1>
                    </div>
                    <div class="row g-5">


                                    <!-- Search Form Start -->
                                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                                        <div class="input-group">
                                            <input type="text" class="form-control p-3" placeholder="Rechercher">
                                            <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                    <!-- Search Form End -->


                        {% for post in posts %}
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <!-- Equipe R&D -->
                                        <small class="me-3"><i class="far fa-user text-primary me-2"></i>Equipe {{post.equipe}}</small>
                                        <!-- Date de publication-->
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>publié {{post.date}} jours</small>
                                    </div>
                                    <!-- Titre de l'emploi-->
                                    <h4 class="mb-3">{{post.titre}}</h4>
                                    <p>{{post.description | safe}}</p>
                                    <a class="text-uppercase" href="{{https_url_for(request,'job', id=post.id)}}">CONSULTER L'OFFRE <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        {%endfor%}


  

     
          

                   
                        <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
                            <nav aria-label="Page navigation">
                              <ul class="pagination pagination-lg m-0">
                                <li class="page-item disabled">
                                  <a class="page-link rounded-0" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                                  </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link rounded-0" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>

                    <br>

                    {% include "annonce_recrutement.html" %}

             
                </div>
                <!-- Blog list End -->

                {%include "themes.html" %}

      

            </div>
        </div>
    </div>
    <!-- Blog End -->



    {%endblock%}