<section id="service">
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="row info-left">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="">
                   
                    <div class="card">
                        <div class="card-body">
                            <a href="https://arxiv.org/abs/2306.16296" class="card-title-link"><h3 class="card-title">Web Development</h3></a>
                        
                            <p class="card-text">Craft captivating and user-friendly websites tailored to your specific needs.</p>
        
                        </div>
                        <a href="https://arxiv.org/abs/2306.16296" target="_blank"><img src="/static/img/webdev.jpeg" alt="" class="card-img"></a>
                        
                    </div>
                </a>
            </div>
        
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="">
                   
                    <div class="card">
                        <div class="card-body">
                            <a href="https://arxiv.org/abs/2306.16296" class="card-title-link"><h3 class="card-title">Application Development</h3></a>
                        
                            <p class="card-text">Innovative web applications that streamline your business processes and enhance customer interactions.</p>
        
                        </div>
                        <a href="https://arxiv.org/abs/2306.16296" target="_blank"><img src="/static/img/application.jpeg" alt="" class="card-img"></a>
                        
                    </div>
                </a>
            </div>
        
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="">
                   
                    <div class="card">
                        <div class="card-body">
                            <a href="https://arxiv.org/abs/2306.16296" class="card-title-link"><h3 class="card-title">AI Model Training</h3></a>
                        
                            <p class="card-text">Unlock the power of artificial intelligence with our comprehensive AI model training services.</p>
        
                        </div>
                        <a href="https://arxiv.org/abs/2306.16296" target="_blank"><img src="/static/img/aimodel.jpeg" alt="" class="card-img"></a>
                        
                    </div>
                </a>
            </div>
        
        
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="">
                   
                    <div class="card">
                        <div class="card-body">
                            <a href="https://arxiv.org/abs/2306.16296" class="card-title-link"><h3 class="card-title">IT Services</h3></a>
                          
                        
                            <p class="card-text">Enhance the efficiency and reliability of your IT infrastructure with our comprehensive range of IT services</p>
        
                        </div>
                        <a href="https://arxiv.org/abs/2306.16296" target="_blank"><img src="/static/img/itservice.jpeg" alt="" class="card-img"></a>
                        
                    </div>
                </a>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <a href="">
                   
                    <div class="card">
                        <div class="card-body">
                            <a href="https://arxiv.org/abs/2306.16296" class="card-title-link"><h3 class="card-title">Consultation and Support</h3></a>
                          
                        
                            <p class="card-text">Receive expert guidance and support at every stage of your digital journey.</p>
        
                        </div>
                        <a href="https://arxiv.org/abs/2306.16296" target="_blank"><img src="/static/img/consult.jpeg" alt="" class="card-img"></a>
                        
                    </div>
                </a>
            </div>
        </div>
       
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="info-right">
            <h1>Empowering Digital Journey with our Services</h1>
            <p> we offer a comprehensive suite of digital solutions to empower your business in the modern era. From dynamic web development and innovative application creation to cutting-edge AI model training and robust IT services, we tailor our offerings to meet your specific needs. Our team of skilled professionals excels in delivering high-quality results, ensuring that your online presence is engaging, efficient, and secure. With a commitment to excellence and a passion for innovation, we provide expert consultation and support every step of the way, helping you navigate the complexities of the digital landscape with confidence and ease.</p>
        </div>
    </div>
 

</div>

</section>