
{% extends "base.html" %}

{%block carousel%} 
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn"> Nos valeurs</h1>
            <a href="" class="h5 text-white">Accueil</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h5 text-white">Nos valeurs</a>
        </div>
    </div>
</div>
{%endblock%}

{%block content%}



    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-12">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">NOS VALEURS</h5>
                        <h1 class="mb-0">Innovation, Intégrité, et Impact pour un Tchad Digital Responsable</h1>
                    </div>
                    <h5 class="fw-bold text-primary text-uppercase">Agir avec Intégrité</h5>
                    <p class="mb-4">Nous valorisons l'intégrité dans toutes nos actions. Chez Mahrasoft Innovations, nous promouvons le respect, l'équité, et l'éthique dans toutes nos interactions, afin de créer un environnement de travail où chacun peut s'épanouir.</p>
            

                    <h5 class="fw-bold text-primary text-uppercase">Respecter les Réglementations</h5>
                    <p class="mb-4">Nous nous engageons à respecter toutes les lois et réglementations en vigueur, que ce soit au niveau local, national ou international. Nos collaborateurs sont responsables de comprendre les règles applicables et de travailler avec le service juridique pour garantir la conformité.</p>

                    <h5 class="fw-bold text-primary text-uppercase">Prioriser les Besoins de Nos Clients</h5>
                    <p class="mb-4">Nous plaçons les intérêts de nos clients au cœur de nos activités. Chaque membre de Mahrasoft Innovations, quel que soit son rôle, s'efforce de fournir des solutions IT innovantes et de qualité, en se positionnant comme un partenaire de confiance pour nos clients.</p>

                    <h5 class="fw-bold text-primary text-uppercase">Protéger Nos Collaborateurs et Nos Ressources</h5>
                    <p class="mb-4">Nous nous engageons à protéger nos collaborateurs, nos informations, et notre entreprise. Nous œuvrons ensemble pour renforcer Mahrasoft Innovations, en sécurisant nos données, nos propriétés intellectuelles, et en garantissant un environnement de travail sûr et propice à l'innovation.</p>
                    <h5 class="fw-bold text-primary text-uppercase">Gérer Notre Entreprise de Manière Responsable</h5>
                    <p class="mb-4">Nous faisons preuve d'agilité et de responsabilité dans la gestion de notre entreprise. Chez Mahrasoft Innovations, nous nous efforçons d'atteindre des performances élevées en agissant en tant qu'entrepreneurs et propriétaires, avec un esprit d'innovation et de responsabilité.</p>
                    <h5 class="fw-bold text-primary text-uppercase">Être un Citoyen d'Entreprise Exemplaire</h5>
                    <p class="mb-4">Nous soutenons et respectons les droits humains, promouvons la responsabilité environnementale, et encourageons l'implication de nos collaborateurs dans les communautés où nous travaillons et vivons. Nous croyons en l'impact positif de la technologie sur la société et agissons en conséquence.</p>
                
  
<!-- 
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Solutions Rapides</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Personnel Professionnel</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Support 24/7</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Prix abordable</h5>
                        </div>
                    </div> -->
                    <!-- <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Contactez-nous</h5>
                            <h4 class="text-primary mb-0">+235 66 38 38 56</h4>
                        </div>
                    </div> -->
                    <!-- <a href="quote.html" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Request A Quote</a> -->
                </div>
                <!-- <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/static/img/ca4.jpeg" style="object-fit: cover;">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- About End -->




{%endblock%}


